<footer class="bg-[#F5F7FA] w-full mt-auto">

  <div class="max-w-screen-xl mx-auto pt-12 pb-4 px-6">

    <div class="flex justify-between mb-12 md:flex-row flex-col gap-8">

      <div class="flex flex-col max-w-[200px] gap-6">
        <%= image_tag "logo.svg", class: "w-[80px]" %>
        <p>Fixing the last mile for builders' merchants</p>
      </div>

      <div class="flex gap-8 md:flex-row flex-col">
        <div class="flex flex-col gap-2">
          <p>Cost Calculator</p>
          <p>Drivers</p>
        </div>

        <div class="flex flex-col gap-2">
          <p>About Us</p>
          <p>Privacy Policy</p>
          <p>Cookie Policy</p>
          <p>Terms of Service</p>
        </div>

        <div class="flex flex-col gap-2">
          <p>contact@foremore.com</p>
          <p>0123 456 7890</p>
          <p>KvK no: 12345678</p>
          <p>BTW no: NL1235443657665</p>
        </div>

      </div>
    </div>

    <hr class="my-4" />

    <p class="text-center">2024 © Copyright <span class="font-bold">foremore.com</span></p>

  </div>

</footer>