<% content_for :title, "New delivery" %>

<div class="flex flex-col gap-8 justify-center items-center w-full">

  <h1>New delivery</h1>

  <%= render "form", delivery: @delivery %>

  <br>

  <div>
    <%= link_to "Back to deliveries", deliveries_path %>
  </div>

</div>