<div class="flex flex-col items-center justify-center gap-8 max-w-[600px] mx-auto">

  <h1 class="text-center italic">Welcome to Dan's fantastic Foremore Assignment</h1>

  <%= link_to "DELIVERIES", deliveries_path, class: "btn btn-primary no-underline"
 %>
</div>
